@{
    ViewBag.Title = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
<li>@Html.ActionLink("Add User", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    }
    else if (User.IsInRole("Able to read a text ﬁle in role based security context"))
    {
     
            var dataFile = Server.MapPath("~/App_Data/TextFile.txt");
            Array Data = File.ReadAllLines(dataFile);
        


        <h1>Reading Data from a File</h1>
        foreach (string dataLine in Data)
        {
            foreach (string dataItem in dataLine.Split(','))
            {@dataItem <text>&nbsp;</text>}
            <br />
        }
    }

}