@{
    ViewBag.Title = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
<li>@Html.ActionLink("Add User", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    }
    else if (User.IsInRole("Able to read an encrypted JSON ﬁle"))
    {

        var dataFile = Server.MapPath("~/App_Data/EncryptedJSONFile.JSON");
        Array Data = File.ReadAllLines(dataFile);

        Array.Reverse(Data);

        <h1>Reading Data from a File</h1>
        foreach (string dataLine in Data)
        {

            char[] charArray = dataLine.ToCharArray();
            Array.Reverse(charArray);
            string dataLineReverset = new string(charArray);
            foreach (string dataItem in dataLineReverset.Split(','))
            {@dataItem <text>&nbsp;</text>}
            <br />
        }
    }

}