@{
    ViewBag.Title = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
<li>@Html.ActionLink("Add User", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

        var dataFile = Server.MapPath("~/App_Data/XMLFile.xml");
        Array Data = File.ReadAllLines(dataFile);



        <h1>Reading Data from a File</h1>
        foreach (string dataLine in Data)
        {
            foreach (string dataItem in dataLine.Split(','))
            {@dataItem <text>&nbsp;</text>}
            <br />
        }
    }
    else if (User.IsInRole("Able to read a XML ﬁle"))
    {

        var dataFile = Server.MapPath("~/App_Data/XMLFile.xml");
        Array Data = File.ReadAllLines(dataFile);



        <h1>Reading Data from a File</h1>
        foreach (string dataLine in Data)
        {
            foreach (string dataItem in dataLine.Split(','))
            {@dataItem <text>&nbsp;</text>}
            <br />
        }
    }

}